In [2]:
import pickle
import pandas as pd

In [18]:
with open('../data/hyperlex/nouns-verbs/hyperlex-nouns.txt', 'r') as f:
    ch = f.readlines()

In [23]:
res = []

for line in ch:
    ls = line.split(' ')
    #print(ls)
    res.append(ls[:6])

In [34]:
nouns = pd.DataFrame(res)

In [35]:
len(res)

2164

In [36]:
nouns = nouns.rename(columns=nouns.iloc[0])

In [38]:
nouns = nouns.iloc[1:, :]

In [40]:
nouns

          WORD1         WORD2 POS     TYPE AVG_SCORE AVG_SCORE_0_10
1      conflict  disagreement   N  r-hyp-1      5.20           8.67
2         mason        worker   N    hyp-3      4.50            7.5
3          aura         light   N    hyp-1      3.69           6.15
4        radish        carrot   N    cohyp      0.09           0.15
5          tusk          duty   N   no-rel      0.08           0.13
...         ...           ...  ..      ...       ...            ...
2159  newspaper        medium   N    hyp-3      4.08            6.8
2160    concert         event   N    hyp-4      5.73           9.55
2161       food           pie   N  r-hyp-3      0.92           1.53
2162      ledge         shelf   N      syn      4.30           7.17
2163     avenue          road   N    hyp-3      4.83           8.05

[2163 rows x 6 columns]