In [108]:
import pandas as pd
import networkx as nx
import nltk
from nltk.corpus import wordnet as wn

In [21]:
df = pd.read_csv('ru_babel_hyper.csv', sep='\t')

In [22]:
df1 = df[~df['WordnetKey'].isna()]

In [23]:
df1

,Synset,Hypernym,WordnetKey,Definition
0,ноль.n.1,цифра.n.1,wn:13742358n,"Ноль — целое число, которое при сложении с люб..."
1,1_(число).n.1,цифра.n.1,wn:13742573n,"1 — наименьшее натуральное число, целое число ..."
2,додеканол.n.2,спирты.n.2,wn:14930670n,"Додеканол — органическое вещество, относится к..."
3,1-нападающий.n.1,бейсбол.n.1,wn:00475142n,NaN
4,10_(число).n.1,большое_целое_число.n.1,wn:13746512n,"10 — натуральное число, расположенное между чи..."
...,...,...,...,...
63341,скуловой_отросток.n.5,придаток.n.5,wn:05546383n,NaN
63342,зигоспора.n.1,споры.n.1,wn:13239921n,NaN
63343,зиготены.n.1,NaN,wn:13575109n,NaN
63344,зимаза.n.1,ферменты.n.1,wn:15109586n,Зимаза
63345,зимология.n.1,биохимия.n.1,wn:06080361n,Зимология

In [24]:
df1[df1['Synset'].str.contains('азрег')]

,Synset,Hypernym,WordnetKey,Definition
5118,азрег.n.1,турецкие_денежной_единицы.n.1,wn:13687420n,NaN
10528,helix_азрегза.n.1,Helix_aspersa.n.1,wn:01945143n,NaN

In [25]:
df1[df1['Synset'].str.contains('зарегистрируйтесь')]

,Synset,Hypernym,WordnetKey,Definition
52119,зарегистрируйтесь_языке.n.1,тональный_язык.n.1,wn:06905243n,NaN

In [26]:
df1[df1['Synset'].str.contains('контур_языке')]

                 Synset            Hypernym    WordnetKey Definition
17452  контур_языке.n.1  тональный_язык.n.1  wn:06905141n        NaN

In [27]:
df1[df1['Synset'].str.contains('criollo')]

                  Synset              Hypernym    WordnetKey Definition
18773  criollo_людей.n.1  испаноамериканцы.n.1  wn:09978697n        NaN

In [28]:
df1[df1['Synset'].str.contains('dimensión')]

              Synset                   Hypernym    WordnetKey Definition
21344  dimensión.n.1  величина_(математика).n.1  wn:05093581n        NaN

In [32]:
df2 = df1[~df1['Definition'].isna()]

In [30]:
df1[df1['Definition'].isna()].sample(10)

,Synset,Hypernym,WordnetKey,Definition
29546,gempylus.n.1,рыба_рода.n.1,wn:02622130n,NaN
11208,жиря́нка.n.1,насекомоядные_растения.n.1,wn:12872914n,NaN
26919,оболочки_оплодотворения.n.2,мембрана.n.2,wn:05319419n,NaN
43107,недостойное_поведение.n.2,виновными_действиями.n.2,wn:00735936n,NaN
9550,ха́мство.n.1,неэлегантность.n.1,wn:04817788n,NaN
6426,Baiomys_taylori.n.1,лесная_мышь.n.1,wn:02337598n,NaN
53973,бросить_ковер.n.1,ковёр.n.1,wn:04144539n,NaN
59863,помощник_шерифа.n.5,NaN,wn:07267795n,NaN
39464,разрешение_учащегося.n.1,лицензия.n.1,wn:06550763n,NaN
25806,fistulariidae.n.1,рыба_семья.n.1,wn:01454260n,NaN

In [33]:
df2

,Synset,Hypernym,WordnetKey,Definition
0,ноль.n.1,цифра.n.1,wn:13742358n,"Ноль — целое число, которое при сложении с люб..."
1,1_(число).n.1,цифра.n.1,wn:13742573n,"1 — наименьшее натуральное число, целое число ..."
2,додеканол.n.2,спирты.n.2,wn:14930670n,"Додеканол — органическое вещество, относится к..."
4,10_(число).n.1,большое_целое_число.n.1,wn:13746512n,"10 — натуральное число, расположенное между чи..."
5,100_(число).n.1,большое_целое_число.n.1,wn:13750415n,100 — натуральное и круглое число между 99 и 1...
...,...,...,...,...
63337,зуни_(народ).n.1,pueblo.n.1,wn:09673232n,"Зу́ни, зу́ньи"
63338,зурванизм.n.1,ересь.n.1\tбогословское_учение.n.1,wn:06251553n,Зурванизм — предположительно философское течен...
63339,зайдеко.n.1,кантри.n.1,wn:07062550n,За́йдеко (англ.
63344,зимаза.n.1,ферменты.n.1,wn:15109586n,Зимаза
63345,зимология.n.1,биохимия.n.1,wn:06080361n,Зимология

In [66]:
G = nx.from_pandas_edgelist(df2, 'Hypernym', 'Synset', create_using=nx.DiGraph)

In [95]:
def create_all_edges(parents, children):
    res = []
    
    for parent in parents:
        for child in children:
            res.append((parent, child))

    return res

nodes_to_add = []
edges_to_add = []
nodes_to_delete = []

for node in G:
    if len(str(node).split('\t')) > 1:
        nodes_to_add.extend((str(node).split('\t')))
        edges_to_add.extend(create_all_edges(str(node).split('\t'), list(G[node])))
        nodes_to_delete.append(node)

In [98]:
G.add_nodes_from(nodes_to_add)
G.add_edges_from(edges_to_add)

In [99]:
G.remove_nodes_from(nodes_to_delete)

In [114]:
nx.find_cycle(G)

[('цифра.n.1', 'цифра.n.1')]

In [112]:
wn.synsets('number')

[Synset('number.n.01'),
 Synset('number.n.02'),
 Synset('act.n.04'),
 Synset('phone_number.n.01'),
 Synset('numeral.n.01'),
 Synset('issue.n.02'),
 Synset('number.n.07'),
 Synset('number.n.08'),
 Synset('number.n.09'),
 Synset('number.n.10'),
 Synset('number.n.11'),
 Synset('total.v.01'),
 Synset('number.v.02'),
 Synset('number.v.03'),
 Synset('count.v.05'),
 Synset('count.v.01'),
 Synset('number.v.06')]

In [110]:
all_meanings

[]

In [92]:
create_all_edges(str(node).split('\t'), list(G[node]))

[('австрали́ец.n.1', 'Аборигены_Австралии.n.1'),
 ('этническая_группа.n.1', 'Аборигены_Австралии.n.1')]

In [48]:
df2['Hypernym'].apply(lambda x: len(str(x).split('\t'))).max()

5

In [93]:
G.remove_node(node)

In [115]:
nx.write_edgelist(G, 'test_graph.edgelist', delimiter='\t', data=True )

In [118]:
G['диаспора.n.2']

AtlasView({})

In [119]:
G = nx.read_edgelist("test_graph.edgelist", delimiter="\t", create_using=nx.DiGraph)

In [121]:
G.number_of_edges()

26087