In [1]:
import numpy as np
import pandas as pd
import torch

import networkx as nx
from tqdm import tqdm
from leafer import Leafer

In [8]:
import nltk

nltk.download("wordnet")
nltk.download("omw-1.4")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\nikit\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\nikit\AppData\Roaming\nltk_data...

True

In [9]:
from nltk.corpus import wordnet as wn

In [2]:
df = pd.read_csv("en_babel_hyper.csv", sep="\t")

In [3]:
df.head()

,Synset,Hypernym,WordnetKey,Definition
0,zero.n.01,number\tdigit\tdecimal_digit,wn:13742358n,A mathematical element that when added to anot...
1,one.n.01,digit,wn:13742573n,The smallest whole number or a numeral represe...
2,lauryl_alcohol.n.01,alcohol,wn:14930670n,A colorless insoluble solid alcohol used to ma...
3,one-hitter.n.01,baseball,wn:00475142n,A game in which a pitcher allows the opposing ...
4,ten.n.01,large_integer,wn:13746512n,The cardinal number that is the sum of nine an...

In [11]:
clear_df = df[df.WordnetKey != "wn:00000000n"]

In [73]:
cnt = 0
for i in range(len(clear_df)):
    line = clear_df.iloc[i]
    synset = line[0]
    # print(synset)
    try:
        hypernyms = wn.synset(synset)
        res = set([w.name()[:-5] for w in hypernyms.hypernyms()])
        if res != set(line[1].split("\t")):
            cnt += 1
            if cnt < 5:
                print(cnt, synset, res, set(line[1].split("\t")))
    except:
        print(synset)

print(cnt)

1 zero.n.01 {'relative_quantity'} {'number', 'digit', 'decimal_digit'}
2 thousand.n.01 {'large_integer'} {'hyperperfect_number', 'large_integer', 'number'}
3 trillion.n.01 {'large_indefinite_quantity'} {'large_integer'}
4 billion.n.02 {'large_indefinite_quantity'} {'large_integer'}
Ashgabat.n.01
Porto-Novo.n.01
convict.n.03
Curaçao.n.01
daylight_saving_time.n.01
dram.n.04
eagle.n.05
entity.n.01
Friedrich_Max_Müller.n.01
Gwangju.n.01
Busan.n.01
Qom.n.01
Daegu.n.01
tide.n.04
Tian_Shan.n.01
Aosta_Valley.n.01
35703

In [74]:
clear_df[clear_df.Synset == "billion.n.02"]

,Synset,Hypernym,WordnetKey,Definition
12,billion.n.02,large_integer,wn:13752172n,The number that is represented as a one follow...

In [75]:
wn.synset("billion.n.02").hypernyms()

[Synset('large_indefinite_quantity.n.01')]

In [75]:
G = nx.read_edgelist("en_isa.edgelist", delimiter="\t", create_using=nx.DiGraph)

l = Leafer(G, generation_depth=40, ancestors_depth=4)
iterator = l.leafs_generator()

In [87]:
# next(iterator)

l.find_parents("alcohol.n.02", depth=10)

{0: {'liquid'}}